.toasts-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  align-items: flex-end;
  overflow: hidden;
  margin: 1rem 5rem 0 0;
}
