.base-button {
  display: flex;
  align-self: center;
  border: none;
  background: none;
  color: var(--main);
  outline: none;
  cursor: pointer;
  transition: color 0.125s;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    align-self: center;
    margin: 0;
    text-align: center;
    text-wrap: nowrap;
  }

  & path {
    fill: var(--main);
    transition: fill 0.125s;
  }

  &_active path {
    fill: var(--accent);
  }

  &:not(&_disabled) {
    &:hover {
      color: var(--foreground);
    }

    &:hover path {
      fill: var(--foreground);
    }
  }

  &_disabled {
    cursor: default;
    pointer-events: none;
  }

  &_active {
    color: var(--accent);
  }
}
