.text-translator {
  display: none;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;

  &_open {
    display: flex;
  }

  &__textarea-wrapper {
    position: relative;
    height: 100%;
    min-height: min-content;
    margin: 1rem 5rem;
  }

  &__textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: min-content;
    padding: 0;
    border: none;
    background-color: var(--background);
    color: var(--foreground);
    resize: none;

    &::placeholder {
      color: var(--main);
    }

    &:focus {
      outline: none;
    }
  }
}
