.popup {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--black-40);
  opacity: 0;
  visibility: hidden;
  transition: all 0.28s ease-in-out;

  &_open {
    opacity: 1;
    visibility: visible;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100%;
    border-radius: 0.5rem;
    background: var(--background);
  }

  &__content {
    overflow-y: auto;
  }
}
