.donation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1rem;

  &__title {
    margin: 0;
    color: var(--foreground);
  }

  &__text {
    margin: 0;
    color: var(--main);
    text-align: center;
  }
}
