.text-translator {
  display: none;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;

  &_open {
    display: flex;
  }

  &__textarea-wrapper {
    position: relative;
    height: 100%;
    min-height: min-content;
    margin: 3rem 5rem 1rem;
  }

  &__textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: min-content;
    padding: 0;
    border: none;
    background-color: var(--background);
    color: var(--foreground);
    font-weight: 400;
    font-size: 2rem;
    resize: none;

    &:focus {
      outline: none;
    }
  }
}
