.chat {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  &__bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    min-height: 24px;
    margin: 0 5rem 1rem;

    @media (width <= 768px) {
      flex-direction: column;
    }
  }

  &__chat-info {
    margin: 0;
    color: var(--main);
    text-wrap: nowrap;
  }

  &__messages {
    position: relative;
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &__main {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
  }

  &__textarea-wrapper {
    height: 24rem;
  }

  &__btns-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  &__textarea {
    width: 100%;
    padding: 0;
    border: none;
    background-color: var(--background);
    color: var(--foreground);
    resize: none;

    &::placeholder {
      color: var(--main);
    }

    &:focus {
      outline: none;
    }
  }
}
