.chat-sidebar {
  display: flex;
  flex-direction: column;
  width: 0;
  height: 100%;
  border-right: 0.15rem solid var(--main);
  opacity: 0;
  visibility: hidden;

  &_open {
    width: auto;
    opacity: 1;
    visibility: visible;
  }

  &__chats-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
  }

  &__chat-btn {
    display: block;
    overflow: hidden;
    max-width: 4rem;
    margin: 0 1rem 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__date-btn {
    margin: 0 1rem 0 0;
  }

  &__add-btn {
    position: sticky;
    bottom: 0;
    justify-content: center;
    width: 100%;
    background: var(--background);
  }

  &__empty-state {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin: 0 1rem 1rem;
  }

  &__empty-state-title {
    margin: 0;
    color: var(--foreground);
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
  }

  &__empty-state-description {
    margin: 0;
    color: var(--main);
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
  }
}
