.chat-messages {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;

    &:first-child {
      margin: 2rem 0 0;
    }
  }

  &__scroll-to-bottom {
    position: absolute;
    right: 6rem;
    bottom: 2rem;
    display: flex;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--background);
  }
}
