.chat-sidebar {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  border-right: 0.15rem solid var(--main);

  &__chats-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
  }

  &__chat-btn {
    display: block;
    overflow: hidden;
    max-width: 4rem;
    margin: 0 1rem 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__date-btn {
    margin: 0 1rem 0 0;
  }

  &__add-btn {
    position: sticky;
    bottom: 0;
    justify-content: center;
    width: 100%;
    background: var(--background);
  }
}
