.empty-state {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  text-align: center;

  &__title {
    margin: 0;
    color: var(--foreground);
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
  }

  &__description {
    max-width: 24rem;
    margin: 0;
    color: var(--main);
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
  }
}
