.message-bubble {
  display: flex;
  flex-direction: column;

  &__content {
    position: relative;
    padding: 1rem;
    line-height: 1.5;
    word-wrap: break-word;
    overflow-wrap: break-word;

    &_user {
      align-self: flex-end;
      margin: 0 5rem 0 10rem;
      border: 2px solid var(--main);
      border-radius: 0.5rem 0.5rem 0;
      clip-path: polygon(
        100% 0,
        0 0,
        0 100%,
        calc(100% - 2px - 19px) 100%,
        calc(100% - 2px - 22px) calc(100% - 3px),
        calc(100% - 2px) calc(100% - 3px),
        calc(100% - 2px) 100%,
        100% 100%,
        100% 0
      );
    }

    &_assistant {
      align-self: flex-start;
      margin: 0 10rem 0 5rem;
      border: 2px solid var(--accent);
      border-radius: 0.5rem 0.5rem 0.5rem 0;
      clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        calc(2px + 19px) 100%,
        calc(2px + 22px) calc(100% - 3px),
        calc(2px) calc(100% - 3px),
        calc(2px) 100%,
        0 100%,
        0 0
      );
    }

    &_system {
      align-self: center;
      margin: 0 10rem 0 5rem;
      border: 2px solid var(--foreground);
      border-radius: 0 0.5rem 0.5rem;
      text-align: center;
      clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        calc(2px + 19px) 100%,
        calc(2px + 22px) calc(100% - 3px),
        calc(2px) calc(100% - 3px),
        calc(2px) 100%,
        0 100%,
        0 0
      );
    }
  }

  &__output {
    margin: 0;
    color: var(--main);
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    scrollbar-gutter: stable;
  }
}
