.text-and-icon-button-with-background {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--black-20);
  cursor: pointer;
  pointer-events: all;
  transition: background-color 0.125s;

  &:hover {
    background-color: var(--foreground);
  }

  &__text {
    align-self: center;
    margin: 0;
    color: var(--main);
    font-weight: 400;
    font-size: 1rem;
  }
}
