.base-button {
  all: unset;
  display: flex;
  align-self: center;
  color: var(--main);
  cursor: pointer;

  &:hover {
    color: var(--foreground);
  }

  &__text {
    align-self: center;
    margin: 0;
    text-align: center;
    text-wrap: nowrap;
  }

  & path {
    fill: var(--main);
  }

  &_active path {
    fill: var(--accent);
  }

  &:hover path {
    fill: var(--foreground);
  }

  &_disabled {
    cursor: not-allowed;
  }

  &_active {
    color: var(--accent);
  }
}
