.base-button {
  all: unset;
  cursor: pointer;
  transition: all ease-in-out 0.2s;

  & path {
    fill: var(--main);
    transition: fill ease-in-out 0.2s;
  }

  &:hover path {
    fill: var(--foreground);
  }

  &_disabled {
    cursor: not-allowed;
  }

  &_active {
    background-color: var(--accent);
  }
}
