.side-navigate {
  z-index: 1;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  box-sizing: border-box;
  min-width: 5rem;
  height: calc(100vh);
  padding: 16px 0;
  border-right: 1px solid var(--main);

  & > button:last-child {
    margin-top: auto;
  }
}
