@keyframes translate-button-appear {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes translate-button-disappear {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.pdf-viewer {
  position: relative;
  display: none;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  &_open {
    display: flex;
  }

  &__top-bar {
    position: relative;
    display: none;
    flex-shrink: 0;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;

    &_show {
      display: flex;
    }
  }

  &__btns-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 24px;
    margin: 0 5rem 1rem;

    @media (width <= 768px) {
      flex-direction: column;
    }
  }

  &__switch-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    min-height: 24px;
    transform: translateY(-50%);

    @media (width <= 768px) {
      position: static;
      top: 0;
      transform: none;
    }
  }

  &__translate-btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  &__output {
    overflow-y: auto;
    max-height: calc(8 * 2rem);
    margin: 0;
    color: var(--foreground);
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    scrollbar-gutter: stable;
  }

  &__text-wrapper {
    position: relative;
    margin: 0 5rem;
  }

  &__output-wrapper {
    position: relative;
    min-height: 4.5rem;
    margin: 1rem 5rem 0;
  }

  &__instruction {
    all: unset;
    width: 100%;
    color: var(--foreground);
    font-weight: 400;
    font-size: 2rem;

    &::placeholder {
      color: var(--main);
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &__gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 2rem;
    background: linear-gradient(0deg, transparent 0%, var(--background) 100%);
  }

  &__document {
    display: none;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: 1rem 5rem;

    &_show {
      display: flex;
    }
  }

  // Анимации для кнопки перевода
  &__translate-button {
    transition: all 0.2s ease-in-out;
    animation: translate-button-appear 0.2s ease-in-out;

    &_hidden {
      animation: translate-button-disappear 0.2s ease-in-out;
    }

    &_moving {
      transition: all 0.15s ease-in-out;
    }
  }
}
