@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto Mono';
  src:
    local('Roboto Mono'),
    url('./RobotoMono-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Roboto Mono';
  src:
    local('Roboto Mono'),
    url('./RobotoMono-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: 'Roboto Mono';
  src:
    local('Roboto Mono'),
    url('./RobotoMono-Italic.ttf') format('truetype');
  font-display: swap;
}
