.language-selector {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-self: center;
  width: min-content;
  margin: 3rem 5rem 0;

  &__select {
    all: unset;
    align-self: center;
    color: var(--main);
    font-weight: 400;
    font-size: 1rem;
  }

  &__option {
    background-color: var(--foreground);
    font-size: inherit;
  }
}
