@keyframes progress-shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.selector-option {
  display: flex;
  align-items: center;
  padding: 0.5rem 3rem;
  cursor: auto;
  transition: background-color 0.2s ease-in-out;

  /* Уменьшенная анимация */
  @media (prefers-reduced-motion: reduce) {
    * {
      transition-duration: 0.01ms !important;
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
    }
  }

  /* Для состояний с прогресс-баром */
  &_loading {
    gap: 1rem;
  }

  /* Для состояний без прогресс-бара */
  &_available,
  &_installed {
    justify-content: space-between;
  }

  &:hover:not(.selector-option_no-hover) {
    background-color: var(--foreground);
    cursor: pointer;
  }

  &__actions {
    pointer-events: auto;
  }

  &_simple {
    /* Стили для простого режима */
  }

  &_complex {
    /* Стили для сложного режима */
  }

  /* Прогресс-бар */
  &__progress {
    display: flex;
    flex: 1;
    gap: 1rem;
    align-items: center;
    min-width: 0;
  }

  &__progress-percentage {
    width: min-content;
    color: var(--main);
    font-weight: 500;
    font-size: 1rem;
    text-align: right;
  }

  &__progress-size {
    min-width: 6rem;
    color: var(--main);
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
    text-wrap: nowrap;
    opacity: 0.8;
  }
}
