@use 'normalize';
@use 'scrollbar';
@use 'vars';
@use 'selection';
@use 'typography';
@import '../../shared/assets/fonts/index.css';

:root {
  background-color: var(--background);
  font-family: 'Roboto Mono', monospace, sans-serif;

  @media (width <= 1600px) {
    font-size: 15px;
  }

  @media (width <= 1440px) {
    font-size: 14px;
  }

  @media (width <= 1366px) {
    font-size: 13px;
  }

  @media (width <= 1280px) {
    font-size: 12px;
  }

  @media (width <= 1024px) {
    font-size: 11px;
  }

  @media (width <= 768px) {
    font-size: 10px;
  }
}
