/*
 * Глобальные стили типографии.
 * Миксуются к БЭМ сущностям.
 */

.text-body-m {
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}

.text-body-m-italic {
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
}

.text-heading-l {
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}
