:root {
  // Цветовая схема
  --white: #fff;
  --black: #000;
  --black-20: rgba(0 0 0 / 20%);
  --black-40: rgba(0 0 0 / 40%);
  --main: #6272a4;
  --background: #282a36;
  --accent: #bd93f9;
  --foreground: #f8f8f2;
}
