.text-translator {
  display: flex;
  flex-direction: row;

  &__container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    background-color: var(--background);
  }

  &__textarea {
    all: unset;
    box-sizing: border-box;
    height: 100%;
    margin: 3rem 5rem 0;
    color: var(--main);
    font-weight: 400;
    font-size: 2rem;
    resize: none;
  }
}
