.side-navigate {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  box-sizing: border-box;
  min-width: 5rem;
  height: calc(100vh);
  padding: 1rem 0;

  & > button:last-child {
    margin-top: auto;
  }
}
